<div class="row">
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="searchbar">
        <input class="search_input" type="text" name="" placeholder="Enter Drop Location..... ">
        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
      </div>
    </div>
    <button class="btn btn-lg btn-danger btn-block text-uppercase btn  box" routerLink="/home">BACK</button>
  </div>
  
  </div>
<div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3511.276336008779!2d77.5329031147253!3d28.350493982529876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cc713f4f4196d%3A0x6f2dba49d8ee2098!2sBuddh+International+Circuit!5e0!3m2!1sen!2sin!4v1561798324711!5m2!1sen!2sin" width="1550" height="650" frameborder="0" style="border:0" allowfullscreen>
  </iframe></div>