<div class="fluid-container">
        <div class="row no-gutters align-items-center justify-content-center">
                <div class="col-4"><button class="text-center btn btn-lg btn-danger btn-block text-uppercase"
                                routerLink="../ride">RIDE</button></div>
                <div class="col-4"><button class="text-center btn btn-lg btn-danger btn-block text-uppercase"
                                routerLink="../navigate">Navigate</button></div>
                <div class="col-4"><button class="text-center btn btn-lg btn-danger btn-block text-uppercase"
                                routerLink="../settings">Settings</button></div>
                <div class="col-4"><button class="text-center btn btn-lg btn-danger btn-block text-uppercase"
                                routerLink="../stats">Stats</button></div>
                <div class="col-4"><button class="text-center btn btn-lg btn-danger btn-block text-uppercase"
                                routerLink="../camera">Camera</button></div>
                <div class="col-4"><button class="text-center btn btn-lg btn-danger btn-block text-uppercase"
                                (click)="turnOff()">Turn Off</button></div>
                <div class="col-4"><button routerLink="../battery"
                                class="text-center btn btn-lg btn-danger btn-block text-uppercase">Battery</button>
                </div>
                <div class="col-4"><button routerLink="../speed"
                                class="text-center btn btn-lg btn-danger btn-block text-uppercase">SpeedUp</button>
                </div>
        </div>
</div>
</div>