<div class="fluid-container">
    <div class="row no-gutters">
        <div class="col-3">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="button-col">
                        <img src="/assets/charging.png" class="img-fluid">
                        <img src="/assets/fullbattery.jpg" class="img-fluid">
                        <img src="/assets/low battery.jpg" class="img-fluid">
                        <h4 class="text-center text-primary">battery</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>