<div class="fluid-container">
  <div class="row no-gutters">
    <div class="col-3">
      <div class="row no-gutters">
        <div class="col-12">
          <div class="button-col">

          </div>
        </div>
        <div class="col-12">
          <div class="button-col">

          </div>
        </div>
        <div class="col-12">
          <br>
          <br>
          <button class="text-center btn btn-lg btn-danger btn-block text-uppercase"
            routerLink="../ride">Ride Completed</button>
        </div>
      </div>
    </div>
    <div class="col-9">
      <!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16">
        <agm-direction [origin]="origin" [destination]="destination">
        </agm-direction>
      </agm-map> -->
    </div>
  </div>
</div>