
<div class="row align-items-center justify-content-center">
<div class="col-lg-6"><button class="btn btn-lg btn-danger btn-block text-uppercase" >RIDE</button></div>
<div class="col-lg-6"><button class="btn btn-lg btn-danger btn-block text-uppercase btn" routerLink="/navigate">NAVIGATE</button></div>
<button class="btn btn-lg btn-danger btn-block text-uppercase btn" routerLink="/settings">SETTINGS</button>
<button class="btn btn-lg btn-danger btn-block text-uppercase btn">STATS</button>
</div>

